*{
  box-sizing: border-box;
}

.wrapper{

  border: 2px solid black;

  max-width: 1000px;
  margin-inline: auto;

  --grid-min-col-size: 430px;
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(var(--grid-min-col-size), 100%), 1fr));
  /* gap: 1rem; */
}

.row{


  border: 2px solid blue;
  
  display: flex;
  flex-wrap: wrap;
}

.card{

  border: 2px solid orange;
  min-height: 300px;
  flex: 1;
  min-width: 220px;

}
.grid-auto-fill{
  --grid-min-col-size: 175px;
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(var(--grid-min-col-size), 100%), 1fr));
  gap: 1rem;
  
}



